<a href="https://colab.research.google.com/github/AnhelinaKavaliova/task4/blob/main/PySpark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=8eceecd4924ecc4cb5615dcc9516ac70abf7448a6748d8ebccb8a4d04866ad94
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

#PySpark_Basics

import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, desc, col
from pyspark.sql.functions import when

create local SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").appName("PySpark_Basic").getOrCreate()

In [3]:
spark

read csv with inferschema

In [6]:
%%time
df = spark.read.csv("./PySpark_Basics/ds_salaries.csv", inferSchema=True, header=True)

CPU times: user 80 ms, sys: 7.29 ms, total: 87.3 ms
Wall time: 10.8 s

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [7]:
%%time
df_try = spark.read.csv("./PySpark_Basics/ds_salaries.csv", inferSchema=True, header=True)

CPU times: user 8.2 ms, sys: 1.02 ms, total: 9.23 ms
Wall time: 767 ms

write schema of scv on screen

In [8]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

create schema of this scv

In [4]:
schema=StructType([
    StructField("id", IntegerType(), True),
    StructField("work_year", IntegerType(), True),
    StructField("experience_level", StringType(), True),
    StructField("employment_type", StringType(), True),
    StructField("job_title", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("salary_currency", StringType(), True),
    StructField("salary_in_usd", IntegerType(), True),
    StructField("employee_residence", StringType(), True),
    StructField("remote_ratio", IntegerType(), True),
    StructField("company_location", StringType(), True),
    StructField("company_siz", StringType(), True)
    ])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType....
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [5]:
%%time
df_with_schema = spark.read.csv("./PySpark_Basics/ds_salaries.csv", schema=schema, header=True)

CPU times: user 36.9 ms, sys: 4.68 ms, total: 41.6 ms
Wall time: 3.45 s

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [6]:
df_with_schema.printSchema()

root
 |-- id: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_siz: string (nullable = true)

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [7]:
df_with_schema.show()

+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+-----------+
| id|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_siz|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+-----------+
|  0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|          L|
|  1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|          S|
|  2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|          M|
|  3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|          S|
|  4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|          L|
|  5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|          L|
|  6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|          S|
|  7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|          L|
|  8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|          L|
|  9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|          S|
| 10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|          S|
| 11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|          L|
| 12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|          M|
| 13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|          L|
| 14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|          L|
| 15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|          L|
| 16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|          S|
| 17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|          S|
| 18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|          M|
| 19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|          M|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+-----------+
only showing top 20 rows

print data in dataframe using display(df.toPandas())

In [8]:
df_with_schema.toPandas()

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_siz
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

create df_job_title that consists from all job_titles without duplicates

In [9]:
df_job_title = df_with_schema.select("job_title").distinct()

In [10]:
df_with_schema.select("job_title").count()

607

In [11]:
df_job_title.count()

50

print all rows from df_job_titles without truncating jobs

In [12]:
df_job_title.show(truncate=False)

+----------------------------------------+
|job_title                               |
+----------------------------------------+
|3D Computer Vision Researcher           |
|Lead Data Engineer                      |
|Head of Machine Learning                |
|Data Specialist                         |
|Data Analytics Lead                     |
|Machine Learning Scientist              |
|Lead Data Analyst                       |
|Data Engineering Manager                |
|Staff Data Scientist                    |
|ETL Developer                           |
|Director of Data Engineering            |
|Product Data Analyst                    |
|Principal Data Scientist                |
|AI Scientist                            |
|Director of Data Science                |
|Machine Learning Engineer               |
|Lead Data Scientist                     |
|Machine Learning Infrastructure Engineer|
|Data Science Engineer                   |
|Machine Learning Manager                |
+----------------------------------------+
only showing top 20 rows

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [13]:
df_analytic = df_with_schema.groupBy("job_title") \
  .agg(max("salary_in_usd").alias("max_salary"),
       min("salary_in_usd").alias("min_salary"),
       avg("salary_in_usd").alias("avg_salary"))

print all rows from df_analytic without trancating jobs

In [14]:
df_analytic.show(truncate=False)

+----------------------------------------+----------+----------+------------------+
|job_title                               |max_salary|min_salary|avg_salary        |
+----------------------------------------+----------+----------+------------------+
|3D Computer Vision Researcher           |5409      |5409      |5409.0            |
|Lead Data Engineer                      |276000    |56000     |139724.5          |
|Head of Machine Learning                |79039     |79039     |79039.0           |
|Data Specialist                         |165000    |165000    |165000.0          |
|Data Analytics Lead                     |405000    |405000    |405000.0          |
|Machine Learning Scientist              |260000    |12000     |158412.5          |
|Lead Data Analyst                       |170000    |19609     |92203.0           |
|Data Engineering Manager                |174000    |59303     |123227.2          |
|Staff Data Scientist                    |105000    |105000    |105000.0          |
|ETL Developer                           |54957     |54957     |54957.0           |
|Director of Data Engineering            |200000    |113476    |156738.0          |
|Product Data Analyst                    |20000     |6072      |13036.0           |
|Principal Data Scientist                |416000    |148261    |215242.42857142858|
|AI Scientist                            |200000    |12000     |66135.57142857143 |
|Director of Data Science                |325000    |130026    |195074.0          |
|Machine Learning Engineer               |250000    |20000     |104880.14634146342|
|Lead Data Scientist                     |190000    |40570     |115190.0          |
|Machine Learning Infrastructure Engineer|195000    |50180     |101145.0          |
|Data Science Engineer                   |127221    |40189     |75803.33333333333 |
|Machine Learning Manager                |117104    |117104    |117104.0          |
+----------------------------------------+----------+----------+------------------+
only showing top 20 rows

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [15]:
windowSpec = Window.orderBy(desc("avg_salary"))
df_analytic = df_analytic.withColumn("row_id", row_number().over(windowSpec))

print all data from df_analytic

In [16]:
df_analytic.show(truncate=False)

+----------------------------------+----------+----------+------------------+------+
|job_title                         |max_salary|min_salary|avg_salary        |row_id|
+----------------------------------+----------+----------+------------------+------+
|Data Analytics Lead               |405000    |405000    |405000.0          |1     |
|Principal Data Engineer           |600000    |185000    |328333.3333333333 |2     |
|Financial Data Analyst            |450000    |100000    |275000.0          |3     |
|Principal Data Scientist          |416000    |148261    |215242.42857142858|4     |
|Director of Data Science          |325000    |130026    |195074.0          |5     |
|Data Architect                    |266400    |90700     |177873.9090909091 |6     |
|Applied Data Scientist            |380000    |54238     |175655.0          |7     |
|Analytics Engineer                |205300    |135000    |175000.0          |8     |
|Data Specialist                   |165000    |165000    |165000.0          |9     |
|Head of Data                      |235000    |32974     |160162.6          |10    |
|Machine Learning Scientist        |260000    |12000     |158412.5          |11    |
|Data Science Manager              |241000    |54094     |158328.5          |12    |
|Director of Data Engineering      |200000    |113476    |156738.0          |13    |
|Head of Data Science              |224000    |85000     |146718.75         |14    |
|Applied Machine Learning Scientist|423000    |31875     |142068.75         |15    |
|Lead Data Engineer                |276000    |56000     |139724.5          |16    |
|Data Analytics Manager            |150260    |105400    |127134.28571428571|17    |
|Cloud Data Engineer               |160000    |89294     |124647.0          |18    |
|Data Engineering Manager          |174000    |59303     |123227.2          |19    |
|Principal Data Analyst            |170000    |75000     |122500.0          |20    |
+----------------------------------+----------+----------+------------------+------+
only showing top 20 rows

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [17]:
df_analytic = df_analytic.select("row_id", "job_title", "avg_salary", "min_salary", "max_salary")

print df_analytic now

In [18]:
df_analytic.show(truncate=False)

+------+----------------------------------+------------------+----------+----------+
|row_id|job_title                         |avg_salary        |min_salary|max_salary|
+------+----------------------------------+------------------+----------+----------+
|1     |Data Analytics Lead               |405000.0          |405000    |405000    |
|2     |Principal Data Engineer           |328333.3333333333 |185000    |600000    |
|3     |Financial Data Analyst            |275000.0          |100000    |450000    |
|4     |Principal Data Scientist          |215242.42857142858|148261    |416000    |
|5     |Director of Data Science          |195074.0          |130026    |325000    |
|6     |Data Architect                    |177873.9090909091 |90700     |266400    |
|7     |Applied Data Scientist            |175655.0          |54238     |380000    |
|8     |Analytics Engineer                |175000.0          |135000    |205300    |
|9     |Data Specialist                   |165000.0          |165000    |165000    |
|10    |Head of Data                      |160162.6          |32974     |235000    |
|11    |Machine Learning Scientist        |158412.5          |12000     |260000    |
|12    |Data Science Manager              |158328.5          |54094     |241000    |
|13    |Director of Data Engineering      |156738.0          |113476    |200000    |
|14    |Head of Data Science              |146718.75         |85000     |224000    |
|15    |Applied Machine Learning Scientist|142068.75         |31875     |423000    |
|16    |Lead Data Engineer                |139724.5          |56000     |276000    |
|17    |Data Analytics Manager            |127134.28571428571|105400    |150260    |
|18    |Cloud Data Engineer               |124647.0          |89294     |160000    |
|19    |Data Engineering Manager          |123227.2          |59303     |174000    |
|20    |Principal Data Analyst            |122500.0          |75000     |170000    |
+------+----------------------------------+------------------+----------+----------+
only showing top 20 rows

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [19]:
windowSpec = Window.partitionBy("experience_level").orderBy(desc("salary_in_usd"))
df_exp_lvl = df_with_schema.withColumn("row_num", row_number().over(windowSpec))
df_exp_lvl = df_exp_lvl.filter(col("row_num") == 1).drop("row_num")

print here df_exp_lvl

In [20]:
df_exp_lvl.show(truncate=False)

+---+---------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+-----------+
|id |work_year|experience_level|employment_type|job_title                |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_siz|
+---+---------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+-----------+
|37 |2020     |EN              |FT             |Machine Learning Engineer|250000|USD            |250000       |US                |50          |US              |L          |
|252|2021     |EX              |FT             |Principal Data Engineer  |600000|USD            |600000       |US                |100         |US              |L          |
|33 |2020     |MI              |FT             |Research Scientist       |450000|USD            |450000       |US                |0           |US              |M          |
|63 |2020     |SE              |FT             |Data Scientist           |412000|USD            |412000       |US                |100         |US              |L          |
+---+---------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+-----------+

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [21]:
df_exp_lvl = df_exp_lvl.withColumnRenamed("salary_in_usd", "biggest_salary").withColumnRenamed("experience_level", "exp_lvl")
df_best = df_with_schema.join(df_exp_lvl.select("exp_lvl", "biggest_salary"), df_with_schema.experience_level == df_exp_lvl.exp_lvl, how="inner")
df_best = df_best.filter(df_best["salary_in_usd"] == df_exp_lvl["biggest_salary"])

In [22]:
df_best = df_best.select("id", "experience_level", "biggest_salary", "employee_residence")

print df_best

In [23]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
| 33|              MI|        450000|                US|
| 37|              EN|        250000|                US|
| 63|              SE|        412000|                US|
| 97|              MI|        450000|                US|
|252|              EX|        600000|                US|
+---+----------------+--------------+------------------+

drop duplicates if exist by experience_level

In [24]:
df_best = df_best.dropDuplicates(["experience_level"])

print df_best

In [25]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
| 37|              EN|        250000|                US|
|252|              EX|        600000|                US|
| 33|              MI|        450000|                US|
| 63|              SE|        412000|                US|
+---+----------------+--------------+------------------+

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [44]:
df_new_best = df_best.drop("id")
df_new_best = df_new_best.withColumn("high_exp_lvl", when(df_new_best.experience_level == "MI", "middle")
                                                    .when(df_new_best.experience_level == "SE", "senior")
                                                    .otherwise(None))

print df_new_best

In [45]:
df_new_best.show()

+----------------+--------------+------------------+------------+
|experience_level|biggest_salary|employee_residence|high_exp_lvl|
+----------------+--------------+------------------+------------+
|              EN|        250000|                US|        NULL|
|              EX|        600000|                US|        NULL|
|              MI|        450000|                US|      middle|
|              SE|        412000|                US|      senior|
+----------------+--------------+------------------+------------+

write df_new_best like 1.csv and load then it to df_final

In [46]:
df_new_best.write.csv("/PySpark_Basics/1.csv", header=True, mode='overwrite')
df_final = spark.read.csv("/PySpark_Basics/1.csv", header=True, inferSchema=True)

print df_final

In [48]:
df_final.show()

+----------------+--------------+------------------+------------+
|experience_level|biggest_salary|employee_residence|high_exp_lvl|
+----------------+--------------+------------------+------------+
|              EN|        250000|                US|        NULL|
|              EX|        600000|                US|        NULL|
|              MI|        450000|                US|      middle|
|              SE|        412000|                US|      senior|
+----------------+--------------+------------------+------------+

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [49]:
df_final = df_final.filter(col("high_exp_lvl").isNotNull())

In [50]:
df_final.show()

+----------------+--------------+------------------+------------+
|experience_level|biggest_salary|employee_residence|high_exp_lvl|
+----------------+--------------+------------------+------------+
|              MI|        450000|                US|      middle|
|              SE|        412000|                US|      senior|
+----------------+--------------+------------------+------------+

In [51]:
df_final_try = df_final.join(df_with_schema, (df_with_schema.salary_in_usd == df_final.biggest_salary) &
                                    (df_with_schema.employee_residence == df_final.employee_residence), how="inner")

print df_final

In [52]:
df_final_try.show()

+----------------+--------------+------------------+------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+-----------+
|experience_level|biggest_salary|employee_residence|high_exp_lvl| id|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_siz|
+----------------+--------------+------------------+------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+-----------+
|              MI|        450000|                US|      middle| 33|     2020|              MI|             FT|  Research Scientist|450000|            USD|       450000|                US|           0|              US|          M|
|              SE|        412000|                US|      senior| 63|     2020|              SE|             FT|      Data Scientist|412000|            USD|       412000|                US|         100|              US|          L|
|              MI|        450000|                US|      middle| 97|     2021|              MI|             FT|Financial Data An...|450000|            USD|       450000|                US|         100|              US|          L|
+----------------+--------------+------------------+------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+-----------+

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [53]:
biggest_salary = df_final.select(max("biggest_salary")).collect()[0][0]
print(biggest_salary)

450000

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system